#puerto de la aplicacion 
server:
  port: 8000
  address: 0.0.0.0

# Configuración de la base de datos MySQL
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/db_marcaganaderaTest?useSSL=false
    username: root
    password: sasa
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    hibernate:
      ddl-auto: update
      
  security:
    user:
     name: user
     password: $2a$12$od1exy/dPLCsL3yxbJeFcO/AxDCKyYVBjl/bGB.7GgM3aGOWeWc.q
 

  mail:
    host: smtp.gmail.com
    port: 587
    username: marcaganado@gmail.com
    password: sozjcouvzswvlhuy
    properties:
      mail:
        smtp:
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          auth: true
          starttls:
            enable: true
            required : true    

logging:
  level:
       "[org.hibernate.SQL]": debug

    

    # Configuración para cargar propiedades externas desde application-external.properties
    # spring.config.location: classpath:application-external.properties

# Clave secreta JWT
jwt:
   secret:
    key: "U6w3yjuQRNWNRG3IaajKZY8nyMPiu+wFLpj/7evdNEc="

# Configuración FTP
ftp:
  server: 190.144.160.138
  port: 21
  username: ftpbovid 
  password: serestadojoven

# Enable multipart uploads

servlet:
  multipart:
    enabled: true

# Threshold after which files are written to the disk.
    file-size-threshold: 2KB

# Max file size.
    max-file-size: 700KB

# Max Request Size
    max-request-size: 700KB

# File Storage Properties
  file:
    upload-dir: ./uploads

# Configuración clave secreta para encriptar strings en la aplicación (Contraseñas, etc)
encrypt:
  key: "c!_E#KGo^A-lbk?"
  iv: "X/rjq0lB/RYLwBzkqbAuSA=="



    